# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
technopark-dbms-forum
*.html
tech-db-forum.dat.gz
main
# Test binary, built with `go test -c`
*.test
tech-db-forum.best.txt
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
